* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

nav {
    z-index: 1000;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/image/background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutme{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    font-size: 20px;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.home-content h1 {
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.1cm;
    font-size: 50px;
    overflow-y: hidden;
}

.home-content h2 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    overflow-y: hidden;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
}

.left-content h1 {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 0.1cm;
    font-size: 50px;
}

.left-content h2 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: auto;
    width: 50%;
    text-align: left;
}

.right-content h2 {
    overflow-y: hidden;
    font-size: 45px;
}

.right-content p {
    width: 50%;
    font-size: 20px;
}

form {
    width: 40%;
}

#logo {
    max-height: 20rem;
    height: auto;
}

#orderbutton {
    border-radius: 50px;
    border: none;
    background-color: #FF2727;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    margin: 10px;
    color: white;
}

#orderbutton:hover {
    background-color: #b93030;
    transition: 1s all ease;
}

#simplebutton {
    border-radius: 10px;
    border: none;
    background-color: #FF2727;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    margin: 10px;
    color: white;
}

#simplebutton:hover {
    background-color: #b93030;
    transition: 1s all ease;
}

#sendbutton {
    border-radius: 10px;
    border: none;
    background-color: #FF2727;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    margin: 10px;
    color: white;
}

#sendbutton:hover {
    background-color: #b93030;
    transition: 1s all ease;
}

#ustensiles {
    position: absolute;
    z-index: -10;
    left: 0;
    opacity: 0.2;
}

#hexagone {
    min-height: 288px;
    width: 100vw;
    background-image: url(/assets/image/hexagone.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hexagone h1 {
    overflow-y: hidden;
    font-size: 50px;
    letter-spacing: 0.5cm;
    font-weight: 400;
    color: white;
    font-style: italic;
    text-shadow: 3px 5px 8px #000000;
}

footer {
    width: 100vw;
    height: auto;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footer-content {
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 70px;
    text-align: center;
    color: white;
}
.footer-content ul {
    padding: 0;
}

.footer-content a:active {
    color: transparent;
}


@media screen and (max-width:600px) {
    #logo {
        height: 10rem;
    }
}
@media screen and (max-width:800px) {

    #aboutme {
        flex-direction: column;
        padding: 10px;
    }

    .right-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}